<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wetor.mapper.ArticleMapper">

    <insert id="insertArticle" parameterType="Article">
        insert into tb_article
        values( null ,
            #{g_id},
            #{u_id},
            #{a_title},
            #{a_tags},
            #{a_create_time},
            #{a_modify_time},
            #{a_look},
            #{a_love},
            #{a_cache_path},
            #{a_content},
            #{a_is_top},
            #{a_is_hidden},
            #{a_is_delete}
        );
    </insert>

    <delete id="deleteArticleById" parameterType="Integer">
        delete from tb_article
        Where a_id = #{id}
    </delete>

    <update id="updateArticle" parameterType="Article">
        update tb_article
        <set>
            <if test="g_id !=null">g_id= #{g_id},</if>
            <if test="u_id  !=null">u_id=  #{u_id},</if>
            <if test="a_title!=null">a_title=#{a_title},</if>
            <if test="a_tags!=null">a_tags=#{a_tags},</if>
            <if test="a_create_time!=null">a_create_time=  #{a_create_time},</if>
            <if test="a_modify_time !=null">a_modify_time= #{a_modify_time},</if>
            <if test="a_look  !=null">a_look=  #{a_look},</if>
            <if test="a_love!=null">a_love=#{a_love},</if>
            <if test="a_cache_path!=null">a_cache_path=#{a_cache_path},</if>
            <if test="a_content!=null">a_content=  #{a_content},</if>
            <if test="a_is_top !=null">a_is_top= #{a_is_top},</if>
            <if test="a_is_hidden  !=null">a_is_hidden=  #{a_is_hidden},</if>
            <if test="a_is_delete!=null">a_is_delete=#{a_is_delete}</if>

        </set>
        where a_id = #{a_id}
    </update>

    <select id="selectArticleById" parameterType="Integer" resultType="Article">
        select * from tb_article
        where a_id = #{id}
    </select>
    <select id="selectArticleCount" resultType="integer">
        select count(*) from tb_article
    </select>
    <sql id="selectWithoutContent">
        select
            a_id,
            g_id,
            u_id,
            a_title,
            a_tags,
            a_create_time,
            a_modify_time,
            a_look,
            a_love,
            a_cache_path,
            a_is_top,
            a_is_hidden,
            a_is_delete
    </sql>

    <select id="selectArticlePage" resultType="Article">
        <include refid="selectWithoutContent"/>
        <if test="param3==null or param3==0">
        </if>
        <if test="param3==1">
            ,substr(a_content,1,256)
        </if>
        <if test="param3==2">
            ,a_content
        </if>
        from tb_article
        ORDER BY a_create_time
        <if test=" param4 == null or param4 == false ">
            desc
        </if>
        limit #{begin},#{number}
    </select>



    <select id="selectArticleAll" resultType="Article">
        <include refid="selectWithoutContent"/>
        <if test="param1==null or param1==0">
        </if>
        <if test="param1==1">
            ,substr(a_content,1,256)
        </if>
        <if test="param1==2">
            ,a_content
        </if>
        from tb_article
        ORDER BY a_create_time
        <if test=" param2 == null or param2 == false ">
            desc
        </if>
    </select>
    <select id="selectArticleAllByType" resultType="Article">
        <include refid="selectWithoutContent"/>
        <!-- null/0:极简(不含文章内容) 1:简略(含文章内容摘要) 2:完整(包含文章内容) -->
        <if test="param3==null or param3==0">
        </if>
        <if test="param3==1">
            ,substr(a_content,1,256)
        </if>
        <if test="param3==2">
            ,a_content
        </if>
        from tb_article
        <!-- 0:User  1:Group  2:Tag -->
        <trim prefix="where" prefixOverrides="and">
            <if test="param1==0">
                and u_id=#{id}
            </if>
            <if test="param1==1">
                and g_id=#{id}
            </if>
            <if test="param1==2">
                and find_in_set(
                    (select t_content
                    from tb_tag
                    where t_id=#{id}
                ),a_tags)
            </if>
        </trim>
        ORDER BY a_create_time
        <if test=" param4 == null or param4 == false ">
            desc
        </if>
    </select>

    <select id="selectArticlePageByType" resultType="Article">
        <include refid="selectWithoutContent"/>
        <!-- null/0:极简(不含文章内容) 1:简略(含文章内容摘要) 2:完整(包含文章内容) -->
        <if test="param5==null or param5==0">
        </if>
        <if test="param5==1">
            ,substr(a_content,1,256)
        </if>
        <if test="param5==2">
            ,a_content
        </if>
        from tb_article
        <!-- 0:User  1:Group  2:Tag -->
        <trim prefix="where" prefixOverrides="and">
            <if test="param1==0">
                and u_id=#{id}
            </if>
            <if test="param1==1">
                and g_id=#{id}
            </if>
            <if test="param1==2">
                and find_in_set(
                (select t_content
                from tb_tag
                where t_id=#{id}
                ),a_tags)
            </if>
        </trim>
        ORDER BY a_create_time
        <if test=" param6 == null or param6 == false ">
            desc
        </if>
        limit #{begin},#{number}
    </select>
</mapper>