<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wetor.mapper.UserMapper">
    <insert id="insertUser" parameterType="User">
        insert into tb_user
        values( null ,
            #{u_name} ,
            #{u_mail},
            #{u_password},
            #{u_permission}
        )
    </insert>
    <delete id="deleteUserById" parameterType="Integer">
        delete from tb_user
        Where u_id = #{id}
    </delete>
    <update id="updateUser" parameterType="User">
        update tb_user
        <set>
            <if test="u_name!=null">u_name=#{u_name},</if>
            <if test="u_mail!=null">u_mail=#{u_mail},</if>
            <if test="u_password!=null">u_password=#{u_password},</if>
            <if test="u_permission!=null">u_permission=#{u_permission},</if>
        </set>
        where u_id = #{u_id}
    </update>
    <select id="selectUserById" parameterType="Integer" resultType="User">
        select * from tb_user
        where u_id = #{id}
    </select>

    <select id="selectUserByName" parameterType="String" resultType="User">
        select * from tb_user
        where u_name like CONCAT('%',#{name},'%')
    </select>

    <select id="selectUserLogin" parameterType="User" resultType="User">
        select * from tb_user
        where u_name = #{u_name} and u_password = #{u_password}
    </select>




</mapper>